
/* general css */

html{
  background-color: rgb(234, 211, 255);
}

p{
  margin: 0;
  padding: 0;
}

.component{
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

/* overall page */
#app{
  display: flex;
  flex-direction: row;

}


/* specific componenet styling */


/* cpu */
#cpu{
  border: solid 0.25rem rgb(247, 102, 252);
  background-color: rgb(232, 161, 238);
  width: max-content;
}


/* scheduler */
#scheduler{
  border: solid 0.25rem rgb(61, 219, 224);
  background-color: rgb(128, 239, 243);
  flex-grow: 1;
}

.processQueue{
  margin: 0.5rem;
  padding: 0.25rem;
  border: solid black 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* alert */
.alert{
  color: rgb(68, 68, 68);
  font-style: italic;
}

/* user panel */
#user-panel{
  display: flex;
  flex-direction: column;
}


/* gui */
#gui{
  display: flex;
  flex-direction: column;
}



/* process */
.process{
  font-size: 60%;
  padding: 0.5rem;
  margin: 0.25rem;
  max-width: 10rem;
}

.process h1, .process h2{
  margin-top: 0;
  margin-bottom: 2.5%;
}

.process p{
  font-size: 150%;
}

/* specific process colours */
.red_process{
  background: #ff6b6b;
  border: solid 0.25rem #fa4756;
}
.orange_process{
  background: #ff9f1c;
  border: solid 0.25rem #ff7a00;
}

.yellow_process{
  background: #fffc52;
  border: solid 0.25rem #ffe816;
}

.green_process{
  background: #38b000;
  border: solid 0.25rem #2d8a00;
}

.blue_process{
  background: #3da5ff;
  border: solid 0.25rem #0b74ff;
}

.purple_process{
  background: #9b5de5;
  border: solid 0.25rem #7a3bd6;
}

.pink_process{
  background: #ff6ad5;
  border: solid 0.25rem #ff3ca6;
}




/* terminal */
#terminal{
  max-width: 20rem;
  margin: 1rem;
  border: solid white 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-height: 10rem;
  overflow:hidden;
}

#terminal, #terminal input{
  background-color: black;
  padding: 0.3rem;
  font-family: monospace;
  color: white;
}

#terminal input, #terminal input:focus{
  outline: none;
  border: none;
  flex-grow: 1;
}

#terminal p{
  display: flex;
  flex-direction: row;
  align-items: center;
}