
/* general css */

html{
  background-color: rgb(234, 211, 255);
}

p{
  margin: 0;
  padding: 0;
}

.component{
  margin: 1rem;
  padding: 1.5rem;
}



/* specific componenet styling */


/* cpu */
#cpu{
  border: solid 0.25rem rgb(247, 102, 252);
  background-color: rgb(232, 161, 238);
  max-width: 50%;
}


/* scheduler */
#scheduler{
  border: solid 0.25rem rgb(61, 219, 224);
  background-color: rgb(128, 239, 243);
}

.processQueue{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* process */
#process{
  font-size: 70%;
  border: solid 0.25rem rgb(22, 128, 30);
  background-color: rgb(128, 243, 134);
  padding: 0.5rem;
  margin: 0.25rem;
  max-width: 10rem;
}

#process p{
  font-size: 150%;
}


/* terminal */
#terminal{
  max-width: 20rem;
  margin: 1rem;
  border: solid white 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-height: 10rem;
  overflow:hidden;
}

#terminal, #terminal input{
  background-color: black;
  padding: 0.3rem;
  font-family: monospace;
  color: white;
}

#terminal input, #terminal input:focus{
  outline: none;
  border: none;
  flex-grow: 1;
}

#terminal p{
  display: flex;
  flex-direction: row;
  align-items: center;
}