
.component{
  margin: 1rem;
  padding: 1.5rem;
}

#cpu{
  border: solid 0.25rem rgb(247, 102, 252);
  background-color: rgb(232, 161, 238);
  max-width: 50%;
}

#scheduler{
  border: solid 0.25rem rgb(61, 219, 224);
  background-color: rgb(128, 239, 243);
}

#process{
  font-size: 70%;
  border: solid 0.25rem rgb(22, 128, 30);
  background-color: rgb(128, 243, 134);
  padding: 0.5rem;
  margin: 0.25rem;
  max-width: 10rem;
}

#process p{
  font-size: 150%;
}

.processQueue{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}